body{
  background-color: #faf8f8f1;
}
.btn-confirm-booking {
    background-color: #375FE0;
    color: white;
    border: none;
  }
  
  .btn-confirm-booking:hover {
    background-color: #1a0863;
    color: white;
  }
  